<style>
  @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
  .navbar-brand {
    font-family: 'Caprasimo', cursive;
    font-size: 2rem;
  }
  * {
    font-family: 'Itim', cursive;
  }
</style>
<nav class="bg-dark">
  <div style="display: flex;justify-content: space-between;align-items: center;">
    <div class="navbar navbar-expand-md navbar-light">
      <a href="/" class="navbar-brand" style="color: rgb(255, 0, 0);">PUANJ</a>
      <ul class="navbar-nav">
          <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
            href="" data-toggle="dropdown">ร้านขายไอดีเกม</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href=""></a>
              <a class="dropdown-item" href=""></a>
            </div>
          </li>
      </ul>
    </div>
    <div class="nav-link text-light text-uppercase font-weight-bold px-3" style="display: flex;">
        <div class=""><a href="/" style="color: aliceblue;">Login</a> | <a href="/" style="color: aliceblue;">Register</a></div>
    </div>  
  </div>
</nav>