<style>
  @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
  .navbar-brand {
    font-family: 'Caprasimo', cursive;
    font-size: 2rem;
  }
  * {
    font-family: 'Itim', cursive;
  }
</style>
<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="/" class="navbar-brand" style="color: rgb(255, 0, 0);">PUANJ</a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
          href="" data-toggle="dropdown">ระบบหลังบ้าน (Admin)</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/manage">จัดการสินค้า</a>
            <a class="dropdown-item" href="/add-product">บันทึกสินค้า</a>
          </div>
        </li>
    </ul>
</nav>